body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    height: 100px;
    background-color: #f3d437;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

nav .list {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .list li {
    list-style: none;
}

nav .list a {
    display: block;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border-radius: 25px;
}

nav .list a:hover {
    background-color: #f5c70e;
}

#toogle {
    position: absolute;
    top: -100px;
}

nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-bars .line {
    width: 30px;
    height: 5px;
    background-color: #670000;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.menu-vertical {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-vertical li a {
    display: block;
    padding: 15px 20px;
    color: #000000;
    text-decoration: none;
}

/* .list li:hover {
    background-color: #f5c70e;
} */

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.list li:hover .menu-vertical {
    display: block;
}

/* .menu-vertical li:hover {
    background-color: black;
} */

.menu-vertical li a {
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}


@media(max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .list {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #d4b106;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .list a {
        font-size: 20px;
    }

    nav :checked ~ .list {
        bottom: 0;
    }

    nav .icon-bars {
        display: block;
    }
}